---
import { Image } from 'astro:assets';

import linkedin from '../../../src/assets/linkedin.svg';
import Item from "../../components/Item.astro";
import ProjectCard from "../../components/ProjectCard.astro";
import Skill from "../../components/Skill.astro";
import ThemeIcon from "../../components/ThemeIcon.astro";
import Layout from "../../layouts/Layout.astro";

import { getLangFromUrl, useTranslations } from "../../i18n/utils";
import LanguagePicker from '../../components/LanguagePicker.astro';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
import { getCollection } from 'astro:content';
import { formatImageSource } from '../../utils';

const educationItems = await getCollection('education', ({id}) => {
	return id.startsWith(lang);
});
---

<Layout lang="es" title="Portfolio">
	<div class="flex flex-col items-center w-full">
		<div class="max-w-3xl pt-8 pb-16 px-8 md:px-0">
			<div class="flex flex-row items-center gap-3 mb-16">
				<h1 class="text-gradient">Juan Carlos Velasco Sánchez</h1>
				<ThemeIcon/>
				<a href="https://www.linkedin.com/in/jcarlosvelasco">
					<Image src={linkedin} class="w-8" alt="LinkedIn logo"/>
				</a>
				<LanguagePicker/>
			</div>
			<h2 class="mb-8">{t('nav.heading')}</h2>
			<h2 class="font-bold mb-4 text-2xl">{t('nav.about')}</h2>
			<p class=" mb-16">At the end of 2022, I quit my job as a software engineer to go fulltime into building and scaling my own SaaS businesses. In the past, I pursued a double degree in computer science and business, interned at big tech companies in Silicon Valley, and competed in over 21 hackathons for fun. I also had the pleasure of being a part of the first ever in-person cohort of buildspace called buildspace sf1.</p>
			<h2 class=" font-bold mb-8 text-2xl">{t("nav.experience")}</h2>
			<div class="flex flex-col gap-6 mb-16">
				<Item 
					title="Software Engineer (Intern)" 
					subtitle="Indra" 
					imageSource="indra.svg" 
					time="July 2024 - September 2024"
					altTime="(2024 - 2024)"
					altImage="Indra logo"
				/>
				<Item 
					title="Software Engineer (Intern)" 
					subtitle="NTT Data" 
					imageSource="nttdata.svg" 
					time="February 2023 - July 2023"
					altTime="(2023 - 2023)"
					altImage="NTT Data logo"
				/>
			</div>
			
			<h2 class=" font-bold mb-8 text-2xl">{t("nav.education")}</h2>
			<div class="flex flex-col gap-6 mb-16">
				{
					educationItems.map((item) => (
						<Item
							subtitle={item.data.subtitle}
							title={item.data.title}
							imageSource={formatImageSource(item.data.imageSource)}
							time={item.data.startingDate.getFullYear() + " - " + item.data.endingDate.getFullYear()}
							altTime={`(${item.data.startingDate.getFullYear()}-${item.data.endingDate.getFullYear()})`}
							imageAlt={item.data.imageAlt}
						/>
					))
				}
			</div>

			<h2 class=" font-bold mb-8 text-2xl">{t("nav.skills")}</h2>
			<div class="flex flex-row flex-wrap gap-2 mb-16">
				<Skill name="SwiftUI"/>
				<Skill name="Compose"/>
				<Skill name="React"/>
				<Skill name="Node.js"/>
				<Skill name="Typescript"/>
				<Skill name="Kotlin"/>
				<Skill name="Java"/>
			</div>

			<h2 class=" font-bold mb-8 text-2xl">{t("nav.projects")}</h2>
			<div class="flex flex-row flex-wrap gap-4">
				<ProjectCard 
					projectName="Portfolio" 
					githubLink="https://github.com/jcarlosvelasco/portfolio"
					tecnologies={["Astro", "Tailwind"]}
					frameworkImage="astro.svg"
					frameworkLink="https://astro.build"
					frameworkAlt="Astro logo"
				/>
			</div>
		</div>	
	</div>
</Layout>

<style>
	html.dark {
  		background-color: #1d1d1d;
  		color: #fff;
	}

	html {
		background-color: #fff;
		color: black
	}

	.dark .nav-links a {
  		color: #fff;
	}
</style>
